In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import src.data.nba_api.api_request as nba_api

In [27]:
requester = nba_api.nba_stats_API()
# requester.player_API_call?

In [88]:
away_data_one , home_data_one = requester.player_API_call(endpoint='boxscoreadvancedv2' , GameID = '0021700807')

Request to https://stats.nba.com/stats/boxscoreadvancedv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.

In [89]:
home_data_one

,TEAM_ID,PLAYER_ID,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,...,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PIE
0,1610612739,2544,48:19,133.9,134.4,133.5,134.0,0.4,0.4,0.469,...,0.243,0.139,11.6,0.841,0.809,0.272,0.276,96.25,95.87,0.177
1,1610612739,2594,18:46,122.2,117.1,118.4,110.8,3.8,6.3,0.091,...,0.063,0.067,11.1,1.000,1.000,0.182,0.189,94.53,99.74,0.128
2,1610612739,2747,36:05,130.4,131.9,134.5,130.1,-4.1,1.8,0.033,...,0.120,0.057,0.0,0.714,0.714,0.182,0.185,95.43,96.44,0.078
3,1610612739,101112,19:51,106.6,102.4,111.6,107.7,-5.0,-5.3,0.000,...,0.294,0.171,18.2,0.222,0.222,0.244,0.253,93.15,96.73,0.007
4,1610612739,101181,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.000,0.000,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN
5,1610612739,201145,29:16,125.3,121.7,112.3,109.8,12.9,11.8,0.087,...,0.192,0.120,15.4,0.667,0.752,0.164,0.171,96.69,99.22,0.091
6,1610612739,201565,7:26,138.2,127.8,126.9,117.6,11.3,10.1,0.375,...,0.000,0.000,0.0,0.333,0.387,0.200,0.215,104.61,113.00,0.075
7,1610612739,202684,28:56,143.2,148.2,143.5,142.6,-0.3,5.6,0.080,...,0.150,0.125,0.0,0.778,0.759,0.183,0.183,98.37,97.05,0.106
8,1610612739,202738,31:17,130.7,132.3,147.8,144.3,-17.1,-12.0,0.259,...,0.167,0.073,15.8,0.688,0.732,0.182,0.183,93.79,94.37,0.091
9,1610612739,203109,23:37,142.1,144.7,143.6,142.9,-1.4,1.8,0.087,...,0.143,0.061,0.0,0.700,0.740,0.118,0.118,98.18,97.57,0.056
10,1610612739,204066,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.000,0.000,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN
11,1610612739,1626224,21:27,128.7,123.9,106.9,104.2,21.8,19.7,0.000,...,0.136,0.103,25.0,0.800,0.765,0.157,0.166,101.86,105.17,0.051
12,1610612739,1627790,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.000,0.000,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN

In [90]:
away_data_one

,TEAM_ID,PLAYER_ID,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,...,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,USG_PCT,E_USG_PCT,E_PACE,PACE,PIE
0,1610612750,2037,20:04,110.7,104.8,134.6,136.6,-24.0,-31.8,0.000,...,0.000,0.000,7.1,0.615,0.615,0.326,0.343,97.31,99.27,0.084
1,1610612750,201166,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.000,0.000,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN
2,1610612750,201952,38:41,135.9,135.1,131.2,132.5,4.7,2.6,0.429,...,0.100,0.053,3.6,0.583,0.583,0.160,0.163,95.69,95.55,0.107
3,1610612750,201959,35:08,143.8,142.9,133.6,137.1,10.2,5.7,0.057,...,0.115,0.102,0.0,0.500,0.533,0.108,0.110,96.56,95.64,0.055
4,1610612750,202332,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.000,0.000,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN
5,1610612750,202357,17:29,106.3,102.7,124.7,118.9,-18.5,-16.2,0.154,...,0.400,0.194,0.0,0.500,0.500,0.132,0.136,97.52,101.58,0.105
6,1610612750,202710,46:28,132.4,133.0,132.8,133.3,-0.4,-0.4,0.171,...,0.152,0.074,6.7,0.762,0.784,0.242,0.244,96.98,96.59,0.145
7,1610612750,203476,16:04,119.0,114.7,125.7,120.0,-6.7,-5.3,0.091,...,0.231,0.148,18.2,0.571,0.635,0.286,0.296,98.83,103.07,0.098
8,1610612750,203498,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,0.000,0.000,NaN,NaN,NaN,0.000,0.000,NaN,NaN,NaN
9,1610612750,203952,39:51,134.8,133.8,126.1,123.5,8.6,10.3,0.029,...,0.063,0.033,11.8,0.692,0.684,0.190,0.194,95.57,96.96,0.049
10,1610612750,1626145,14:19,114.2,109.7,129.3,118.8,-15.0,-9.1,0.385,...,0.000,0.000,0.0,0.000,0.000,0.063,0.065,99.17,105.61,0.056
11,1610612750,1626157,36:56,134.7,135.6,132.9,134.2,1.7,1.4,0.034,...,0.321,0.185,16.7,1.083,1.090,0.221,0.222,95.68,94.87,0.177

In [91]:
away_data_two , home_data_two = requester.player_API_call(endpoint='boxscorefourfactorsV2' , GameID = '0021700807')

Request to https://stats.nba.com/stats/boxscorefourfactorsv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.

In [92]:
away_data_two

,TEAM_ID,PLAYER_ID,FTA_RATE,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,1610612750,2037,0.114,0.676,0.441,0.144,0.313
1,1610612750,201166,NaN,NaN,NaN,NaN,NaN
2,1610612750,201952,0.119,0.723,0.200,0.142,0.148
3,1610612750,201959,0.131,0.742,0.183,0.139,0.130
4,1610612750,202332,NaN,NaN,NaN,NaN,NaN
5,1610612750,202357,0.129,0.643,0.429,0.170,0.267
6,1610612750,202710,0.120,0.740,0.253,0.150,0.133
7,1610612750,203476,0.138,0.667,0.370,0.180,0.308
8,1610612750,203498,NaN,NaN,NaN,NaN,NaN
9,1610612750,203952,0.145,0.694,0.179,0.151,0.167
10,1610612750,1626145,0.154,0.674,0.435,0.170,0.273
11,1610612750,1626157,0.125,0.730,0.213,0.136,0.120

In [93]:
home_data_two

,TEAM_ID,PLAYER_ID,FTA_RATE,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,1610612739,2544,0.241,0.695,0.115,0.103,0.114
1,1610612739,2594,0.414,0.600,0.200,0.087,0.063
2,1610612739,2747,0.180,0.718,0.097,0.127,0.130
3,1610612739,101112,0.323,0.578,0.188,0.106,0.063
4,1610612739,101181,NaN,NaN,NaN,NaN,NaN
5,1610612739,201145,0.245,0.585,0.113,0.101,0.077
6,1610612739,201565,0.429,0.667,0.333,0.127,0.000
7,1610612739,202684,0.184,0.750,0.111,0.115,0.167
8,1610612739,202738,0.255,0.794,0.157,0.118,0.125
9,1610612739,203109,0.268,0.786,0.095,0.144,0.154
10,1610612739,204066,NaN,NaN,NaN,NaN,NaN
11,1610612739,1626224,0.333,0.548,0.095,0.107,0.091
12,1610612739,1627790,NaN,NaN,NaN,NaN,NaN

In [94]:
pd.concat([away_data_one , away_data_two] , axis = 1)

,TEAM_ID,PLAYER_ID,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,...,E_PACE,PACE,PIE,TEAM_ID,PLAYER_ID,FTA_RATE,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,1610612750,2037,20:04,110.7,104.8,134.6,136.6,-24.0,-31.8,0.000,...,97.31,99.27,0.084,1610612750,2037,0.114,0.676,0.441,0.144,0.313
1,1610612750,201166,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,1610612750,201166,NaN,NaN,NaN,NaN,NaN
2,1610612750,201952,38:41,135.9,135.1,131.2,132.5,4.7,2.6,0.429,...,95.69,95.55,0.107,1610612750,201952,0.119,0.723,0.200,0.142,0.148
3,1610612750,201959,35:08,143.8,142.9,133.6,137.1,10.2,5.7,0.057,...,96.56,95.64,0.055,1610612750,201959,0.131,0.742,0.183,0.139,0.130
4,1610612750,202332,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,1610612750,202332,NaN,NaN,NaN,NaN,NaN
5,1610612750,202357,17:29,106.3,102.7,124.7,118.9,-18.5,-16.2,0.154,...,97.52,101.58,0.105,1610612750,202357,0.129,0.643,0.429,0.170,0.267
6,1610612750,202710,46:28,132.4,133.0,132.8,133.3,-0.4,-0.4,0.171,...,96.98,96.59,0.145,1610612750,202710,0.120,0.740,0.253,0.150,0.133
7,1610612750,203476,16:04,119.0,114.7,125.7,120.0,-6.7,-5.3,0.091,...,98.83,103.07,0.098,1610612750,203476,0.138,0.667,0.370,0.180,0.308
8,1610612750,203498,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,1610612750,203498,NaN,NaN,NaN,NaN,NaN
9,1610612750,203952,39:51,134.8,133.8,126.1,123.5,8.6,10.3,0.029,...,95.57,96.96,0.049,1610612750,203952,0.145,0.694,0.179,0.151,0.167
10,1610612750,1626145,14:19,114.2,109.7,129.3,118.8,-15.0,-9.1,0.385,...,99.17,105.61,0.056,1610612750,1626145,0.154,0.674,0.435,0.170,0.273
11,1610612750,1626157,36:56,134.7,135.6,132.9,134.2,1.7,1.4,0.034,...,95.68,94.87,0.177,1610612750,1626157,0.125,0.730,0.213,0.136,0.120

In [75]:
away_data , home_data = requester.player_API_call(endpoint='boxscoremiscv2' , GameID = '0021700807')

Request to https://stats.nba.com/stats/boxscoremiscv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.

In [76]:
away_data

,TEAM_ID,PLAYER_ID,PTS_OFF_TOV,PTS_2ND_CHANCE,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT,BLK,BLKA,PF,PFD
0,1610612750,2037,2.0,0.0,3.0,0.0,8.0,10.0,7.0,20.0,0.0,0.0,1.0,2.0
1,1610612750,201166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1610612750,201952,3.0,0.0,2.0,4.0,11.0,7.0,12.0,34.0,0.0,0.0,4.0,2.0
3,1610612750,201959,2.0,2.0,0.0,6.0,9.0,7.0,12.0,32.0,2.0,0.0,1.0,2.0
4,1610612750,202332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612750,202357,3.0,0.0,0.0,2.0,8.0,7.0,4.0,18.0,0.0,0.0,2.0,0.0
6,1610612750,202710,9.0,0.0,2.0,18.0,14.0,10.0,16.0,44.0,0.0,1.0,2.0,6.0
7,1610612750,203476,0.0,0.0,0.0,4.0,9.0,7.0,4.0,16.0,0.0,0.0,3.0,1.0
8,1610612750,203498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1610612750,203952,0.0,0.0,1.0,4.0,12.0,8.0,9.0,36.0,0.0,0.0,3.0,2.0
10,1610612750,1626145,0.0,0.0,0.0,0.0,6.0,7.0,4.0,16.0,0.0,0.0,1.0,0.0
11,1610612750,1626157,6.0,2.0,0.0,6.0,8.0,7.0,12.0,34.0,2.0,0.0,2.0,6.0

In [77]:
home_data

,TEAM_ID,PLAYER_ID,PTS_OFF_TOV,PTS_2ND_CHANCE,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT,BLK,BLKA,PF,PFD
0,1610612739,2544,4.0,2.0,0.0,18.0,25.0,4.0,8.0,44.0,1.0,0.0,3.0,3.0
1,1610612739,2594,0.0,2.0,3.0,2.0,5.0,0.0,4.0,6.0,0.0,0.0,3.0,0.0
2,1610612739,2747,3.0,0.0,6.0,0.0,20.0,4.0,4.0,38.0,0.0,0.0,2.0,0.0
3,1610612739,101112,0.0,2.0,0.0,2.0,12.0,0.0,1.0,6.0,0.0,0.0,1.0,2.0
4,1610612739,101181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612739,201145,0.0,2.0,1.0,8.0,12.0,0.0,4.0,18.0,0.0,2.0,3.0,5.0
6,1610612739,201565,0.0,0.0,0.0,2.0,0.0,0.0,3.0,4.0,0.0,0.0,0.0,1.0
7,1610612739,202684,2.0,3.0,2.0,14.0,16.0,4.0,4.0,34.0,0.0,0.0,1.0,3.0
8,1610612739,202738,0.0,0.0,0.0,2.0,15.0,4.0,5.0,30.0,0.0,2.0,1.0,1.0
9,1610612739,203109,2.0,0.0,2.0,0.0,10.0,4.0,4.0,26.0,0.0,0.0,4.0,3.0
10,1610612739,204066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1610612739,1626224,6.0,3.0,2.0,2.0,10.0,0.0,3.0,14.0,0.0,0.0,3.0,1.0
12,1610612739,1627790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
away_data , home_data = requester.player_API_call(endpoint='boxscorescoringv2' , GameID = '0021700807')

Request to https://stats.nba.com/stats/boxscorescoringv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.

In [79]:
away_data

,TEAM_ID,PLAYER_ID,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,1610612750,2037,0.615,0.385,0.625,0.625,0.375,0.188,0.000,0.125,0.000,0.200,0.800,1.00,0.00,0.429,0.571
1,1610612750,201166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1610612750,201952,0.667,0.333,0.571,0.286,0.429,0.143,0.000,0.214,0.286,0.250,0.750,0.50,0.50,0.333,0.667
3,1610612750,201959,1.000,0.000,0.889,0.222,0.000,0.000,0.111,0.222,0.667,0.500,0.500,0.00,0.00,0.500,0.500
4,1610612750,202332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612750,202357,0.200,0.800,0.400,0.000,0.600,0.000,0.000,0.600,0.400,1.000,0.000,1.00,0.00,1.000,0.000
6,1610612750,202710,0.762,0.238,0.571,0.057,0.343,0.057,0.086,0.257,0.514,0.400,0.600,0.25,0.75,0.357,0.643
7,1610612750,203476,1.000,0.000,0.800,0.400,0.000,0.000,0.200,0.000,0.400,1.000,0.000,0.00,0.00,1.000,0.000
8,1610612750,203498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1610612750,203952,0.385,0.615,0.316,0.105,0.632,0.053,0.053,0.000,0.211,0.667,0.333,1.00,0.00,0.857,0.143
10,1610612750,1626145,0.500,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.00,0.000,0.000
11,1610612750,1626157,0.500,0.500,0.267,0.067,0.600,0.000,0.133,0.200,0.200,0.750,0.250,1.00,0.00,0.900,0.100

In [80]:
home_data

,TEAM_ID,PLAYER_ID,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,1610612739,2544,0.682,0.318,0.595,0.108,0.405,0.000,0.000,0.108,0.486,0.273,0.727,0.200,0.800,0.250,0.750
1,1610612739,2594,0.143,0.857,0.143,0.000,0.857,0.214,0.000,0.000,0.143,1.000,0.000,1.000,0.000,1.000,0.000
2,1610612739,2747,0.214,0.786,0.100,0.100,0.900,0.300,0.000,0.150,0.000,0.000,1.000,1.000,0.000,0.857,0.143
3,1610612739,101112,0.333,0.667,1.000,0.500,0.000,0.000,0.000,0.000,0.500,1.000,0.000,0.000,0.000,1.000,0.000
4,1610612739,101181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612739,201145,1.000,0.000,0.615,0.000,0.000,0.077,0.385,0.000,0.615,0.750,0.250,0.000,0.000,0.750,0.250
6,1610612739,201565,1.000,0.000,0.667,0.000,0.000,0.000,0.333,0.000,0.667,0.000,1.000,0.000,0.000,0.000,1.000
7,1610612739,202684,1.000,0.000,0.824,0.000,0.000,0.118,0.176,0.118,0.824,0.714,0.286,0.000,0.000,0.714,0.286
8,1610612739,202738,0.375,0.625,0.154,0.000,0.692,0.000,0.154,0.000,0.154,1.000,0.000,0.333,0.667,0.500,0.500
9,1610612739,203109,0.600,0.400,0.400,0.400,0.300,0.200,0.300,0.200,0.000,1.000,0.000,1.000,0.000,1.000,0.000
10,1610612739,204066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1610612739,1626224,0.200,0.800,0.222,0.000,0.667,0.222,0.111,0.667,0.222,1.000,0.000,1.000,0.000,1.000,0.000
12,1610612739,1627790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
away_data , home_data = requester.player_API_call(endpoint='boxscoretraditionalv2' , GameID = '0021700807', keepIDs=False)

Request to https://stats.nba.com/stats/boxscoretraditionalv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[7, 13, 0.538, 4, 8, 0.5, 1, 2, 0.5, 0, 2, 2, 1, 0, 2, 3, 19, 7.0], [7, 13, 0.538, 2, 5, 0.4, 0, 0, 0.0, 0, 0, 0, 0, 0, 1, 1, 16, -12.0], [7, 9, 0.778, 0, 0, 0.0, 3, 5, 0.6, 2, 3, 5, 2, 1, 0, 1, 17, -4.0], [7, 14, 0.5, 6, 11, 0.545, 0, 0, 0.0, 0, 3, 3, 1, 0, 0, 2, 20, 0.0]]
[[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]

TypeError: '<' not supported between instances of 'NoneType' and 'NoneType'

In [82]:
away_data

,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,TO,PF,PTS,PLUS_MINUS
0,1610612750,2037,7.0,13.0,0.538,2.0,5.0,0.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,16.0,-12.0
1,1610612750,201166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1610612750,201952,6.0,12.0,0.500,2.0,4.0,0.50,0.0,0.0,0.0,0.0,3.0,3.0,15.0,1.0,1.0,4.0,14.0,2.0
3,1610612750,201959,4.0,8.0,0.500,0.0,0.0,0.00,1.0,1.0,1.0,2.0,3.0,5.0,2.0,0.0,0.0,1.0,9.0,4.0
4,1610612750,202332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612750,202357,2.0,5.0,0.400,1.0,4.0,0.25,0.0,0.0,0.0,0.0,6.0,6.0,2.0,0.0,0.0,2.0,5.0,-6.0
6,1610612750,202710,14.0,21.0,0.667,4.0,5.0,0.80,3.0,3.0,1.0,0.0,5.0,5.0,6.0,2.0,2.0,2.0,35.0,1.0
7,1610612750,203476,4.0,7.0,0.571,0.0,0.0,0.00,2.0,2.0,1.0,1.0,3.0,4.0,1.0,1.0,2.0,3.0,10.0,-3.0
8,1610612750,203498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1610612750,203952,7.0,13.0,0.538,4.0,8.0,0.50,1.0,2.0,0.5,0.0,2.0,2.0,1.0,0.0,2.0,3.0,19.0,7.0
10,1610612750,1626145,0.0,2.0,0.000,0.0,1.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,0.0,1.0,0.0,-4.0
11,1610612750,1626157,10.0,12.0,0.833,6.0,6.0,1.00,4.0,4.0,1.0,1.0,9.0,10.0,1.0,1.0,3.0,2.0,30.0,1.0

In [83]:
home_data

,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,TO,PF,PTS,PLUS_MINUS
0,1610612739,2544,16.0,22.0,0.727,5.0,7.0,0.714,0.0,2.0,0.000,1.0,9.0,10.0,15.0,1.0,5.0,3.0,37.0,-1.0
1,1610612739,2594,5.0,7.0,0.714,4.0,6.0,0.667,0.0,0.0,0.000,1.0,1.0,2.0,1.0,0.0,1.0,3.0,14.0,7.0
2,1610612739,2747,7.0,14.0,0.500,6.0,11.0,0.545,0.0,0.0,0.000,0.0,3.0,3.0,1.0,0.0,0.0,2.0,20.0,0.0
3,1610612739,101112,2.0,9.0,0.222,0.0,6.0,0.000,0.0,0.0,0.000,1.0,5.0,6.0,0.0,1.0,2.0,1.0,4.0,0.0
4,1610612739,101181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612739,201145,4.0,6.0,0.667,0.0,0.0,0.000,5.0,6.0,0.833,1.0,5.0,6.0,2.0,0.0,2.0,3.0,13.0,6.0
6,1610612739,201565,1.0,3.0,0.333,0.0,0.0,0.000,1.0,2.0,0.500,0.0,0.0,0.0,3.0,0.0,0.0,0.0,3.0,3.0
7,1610612739,202684,7.0,9.0,0.778,0.0,0.0,0.000,3.0,5.0,0.600,2.0,3.0,5.0,2.0,1.0,0.0,1.0,17.0,-4.0
8,1610612739,202738,4.0,8.0,0.500,3.0,5.0,0.600,2.0,2.0,1.000,0.0,3.0,3.0,7.0,0.0,3.0,1.0,13.0,-6.0
9,1610612739,203109,3.0,5.0,0.600,1.0,2.0,0.500,3.0,4.0,0.750,0.0,2.0,2.0,2.0,1.0,0.0,4.0,10.0,-2.0
10,1610612739,204066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1610612739,1626224,3.0,5.0,0.600,2.0,4.0,0.500,1.0,2.0,0.500,1.0,3.0,4.0,0.0,1.0,2.0,3.0,9.0,7.0
12,1610612739,1627790,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [110]:
away_data , home_data = requester.player_API_call(endpoint='boxscoreusagev2' , GameID = '0021700807' , keepIDs=False)

Request to https://stats.nba.com/stats/boxscoreusagev2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, 0.167, 0.188, 0.286, 0.381, 0.111, 0.2, 0.0, 0.08, 0.071, 0.043, 0.222, 0.0, 0.0, 0.0, 0.273, 0.111, 0.178], [1610612750, 201959, 0.103, 0.131, 0.0, 0.0, 0.143, 0.125, 0.667, 0.15, 0.217, 0.087, 0.0, 0.0, 0.5, 0.0, 0.111, 0.125, 0.09], [1610612750, 1626157, 0.256, 0.188, 0.429, 0.273, 0.571, 0.5, 0.333, 0.409, 0.4, 0.042, 0.333, 0.5, 0.5, 0.0, 0.2, 0.375, 0.303], [1610612750, 202710, 0.286, 0.253, 0.222, 0.161, 0.333, 0.3, 0.0, 0.192, 0.167, 0.194, 0.182, 0.333, 0.0, 1.0, 0.125, 0.375, 0.28], [1610612750, 201952, 0.146, 0.179, 0.133, 0.182, 0.0, 0.0, 0.0, 0.13, 0.115, 0.625, 0.111, 0.333, 0.0, 0.0, 0.364, 0.111, 0.135], [1610612750, 203476, 0.267, 0.241, 0.0, 0.0, 0.5, 0.5, 1.0, 0.333, 0.4, 0.111, 0.667, 0.2, 0.0, 0.0, 0.333, 0.2, 0.256], [1610612750, 2037, 0.412, 0.371, 0.333, 0.357, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.0, 0.0, 0.0, 0.091, 0.25, 0.364], [1610612750, 202357, 0.133, 0.161, 0.25, 0.333, 0.0, 0.0, 0.0, 0.545, 0.5, 0.2, 0.0, 0.0, 0.0, 0.0, 0.2, 0.0, 0.132], [1610612750, 1626145, 0.0, 0.077, 0.0, 0.091, 0.0, 0.0, 0.0, 0.0, 0.0, 0.556, 0.0, 0.5, 0.0, 0.0, 0.125, 0.0, 0.0], [1610612750, 202332, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 201166, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 203498, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]
[[1610612739, 2544, 0.333, 0.278, 0.25, 0.184, 0.0, 0.105, 0.2, 0.29, 0.278, 0.484, 0.357, 0.25, 1.0, 0.0, 0.176, 0.188, 0.287], [1610612739, 203109, 0.115, 0.122, 0.1, 0.125, 0.5, 0.364, 0.0, 0.182, 0.143, 0.125, 0.0, 0.333, 0.0, 0.0, 0.5, 0.375, 0.147], [1610612739, 202684, 0.219, 0.184, 0.0, 0.0, 0.6, 0.556, 1.0, 0.2, 0.294, 0.111, 0.0, 0.25, 0.0, 0.0, 0.091, 0.5, 0.205], [1610612739, 2747, 0.189, 0.23, 0.429, 0.407, 0.0, 0.0, 0.0, 0.15, 0.13, 0.048, 0.0, 0.0, 0.0, 0.0, 0.143, 0.0, 0.211], [1610612739, 202738, 0.129, 0.157, 0.25, 0.208, 0.25, 0.154, 0.0, 0.214, 0.176, 0.35, 0.333, 0.0, 0.0, 1.0, 0.067, 0.091, 0.159], [1610612739, 101112, 0.143, 0.29, 0.0, 0.316, 0.0, 0.0, 0.25, 0.333, 0.316, 0.0, 0.25, 1.0, 0.0, 0.0, 0.111, 0.2, 0.095], [1610612739, 201145, 0.148, 0.122, 0.0, 0.0, 0.625, 0.5, 0.167, 0.208, 0.2, 0.111, 0.2, 0.0, 0.0, 1.0, 0.25, 0.5, 0.178], [1610612739, 1626224, 0.15, 0.139, 0.222, 0.235, 0.125, 0.167, 0.25, 0.15, 0.167, 0.0, 0.286, 0.5, 0.0, 0.0, 0.5, 0.111, 0.158], [1610612739, 201565, 0.111, 0.214, 0.0, 0.0, 0.333, 0.333, 0.0, 0.0, 0.0, 0.6, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.13], [1610612739, 2594, 0.313, 0.241, 0.571, 0.375, 0.0, 0.0, 0.333, 0.067, 0.111, 0.077, 0.125, 0.0, 0.0, 0.0, 0.333, 0.0, 0.292], [1610612739, 101181, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 204066, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 1627790, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]

In [111]:
away_data

,PCT_FGM,PCT_FGA,PCT_FG3M,PCT_FG3A,PCT_FTM,PCT_FTA,PCT_OREB,PCT_DREB,PCT_REB,PCT_AST,PCT_TOV,PCT_STL,PCT_BLK,PCT_BLKA,PCT_PF,PCT_PFD,PCT_PTS
0,0.412,0.371,0.333,0.357,0.000,0.000,0.000,0.000,0.000,0.000,0.250,0.000,0.0,0.0,0.091,0.250,0.364
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.146,0.179,0.133,0.182,0.000,0.000,0.000,0.130,0.115,0.625,0.111,0.333,0.0,0.0,0.364,0.111,0.135
3,0.103,0.131,0.000,0.000,0.143,0.125,0.667,0.150,0.217,0.087,0.000,0.000,0.5,0.0,0.111,0.125,0.090
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.133,0.161,0.250,0.333,0.000,0.000,0.000,0.545,0.500,0.200,0.000,0.000,0.0,0.0,0.200,0.000,0.132
6,0.286,0.253,0.222,0.161,0.333,0.300,0.000,0.192,0.167,0.194,0.182,0.333,0.0,1.0,0.125,0.375,0.280
7,0.267,0.241,0.000,0.000,0.500,0.500,1.000,0.333,0.400,0.111,0.667,0.200,0.0,0.0,0.333,0.200,0.256
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,0.167,0.188,0.286,0.381,0.111,0.200,0.000,0.080,0.071,0.043,0.222,0.000,0.0,0.0,0.273,0.111,0.178
10,0.000,0.077,0.000,0.091,0.000,0.000,0.000,0.000,0.000,0.556,0.000,0.500,0.0,0.0,0.125,0.000,0.000
11,0.256,0.188,0.429,0.273,0.571,0.500,0.333,0.409,0.400,0.042,0.333,0.500,0.5,0.0,0.200,0.375,0.303

In [112]:
home_data

,PCT_FGM,PCT_FGA,PCT_FG3M,PCT_FG3A,PCT_FTM,PCT_FTA,PCT_OREB,PCT_DREB,PCT_REB,PCT_AST,PCT_TOV,PCT_STL,PCT_BLK,PCT_BLKA,PCT_PF,PCT_PFD,PCT_PTS
0,0.333,0.278,0.250,0.184,0.000,0.105,0.200,0.290,0.278,0.484,0.357,0.250,1.0,0.0,0.176,0.188,0.287
1,0.313,0.241,0.571,0.375,0.000,0.000,0.333,0.067,0.111,0.077,0.125,0.000,0.0,0.0,0.333,0.000,0.292
2,0.189,0.230,0.429,0.407,0.000,0.000,0.000,0.150,0.130,0.048,0.000,0.000,0.0,0.0,0.143,0.000,0.211
3,0.143,0.290,0.000,0.316,0.000,0.000,0.250,0.333,0.316,0.000,0.250,1.000,0.0,0.0,0.111,0.200,0.095
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,0.148,0.122,0.000,0.000,0.625,0.500,0.167,0.208,0.200,0.111,0.200,0.000,0.0,1.0,0.250,0.500,0.178
6,0.111,0.214,0.000,0.000,0.333,0.333,0.000,0.000,0.000,0.600,0.000,0.000,0.0,0.0,0.000,0.250,0.130
7,0.219,0.184,0.000,0.000,0.600,0.556,1.000,0.200,0.294,0.111,0.000,0.250,0.0,0.0,0.091,0.500,0.205
8,0.129,0.157,0.250,0.208,0.250,0.154,0.000,0.214,0.176,0.350,0.333,0.000,0.0,1.0,0.067,0.091,0.159
9,0.115,0.122,0.100,0.125,0.500,0.364,0.000,0.182,0.143,0.125,0.000,0.333,0.0,0.0,0.500,0.375,0.147
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,0.150,0.139,0.222,0.235,0.125,0.167,0.250,0.150,0.167,0.000,0.286,0.500,0.0,0.0,0.500,0.111,0.158
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
away_final , home_final = requester.player_compiler('0021700807')

Request to https://stats.nba.com/stats/boxscoreadvancedv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, '39:51', 134.8, 133.8, 126.1, 123.5, 8.6, 10.3, 0.029, 0.5, 5.9, 0.0, 0.063, 0.033, 11.8, 0.692, 0.684, 0.19, 0.194, 95.57, 96.96, 0.049], [1610612750, 201959, '35:08', 143.8, 142.9, 133.6, 137.1, 10.2, 5.7, 0.057, 0.0, 20.0, 0.087, 0.115, 0.102, 0.0, 0.5, 0.533, 0.108, 0.11, 96.56, 95.64, 0.055], [1610612750, 1626157, '36:56', 134.7, 135.6, 132.9, 134.2, 1.7, 1.4, 0.034, 0.33, 5.6, 0.038, 0.321, 0.185, 16.7, 1.083, 1.09, 0.221, 0.222, 95.68, 94.87, 0.177], [1610612750, 202710, '46:28', 132.4, 133.0, 132.8, 133.3, -0.4, -0.4, 0.171, 3.0, 20.0, 0.0, 0.152, 0.074, 6.7, 0.762, 0.784, 0.242, 0.244, 96.98, 96.59, 0.145], [1610612750, 201952, '38:41', 135.9, 135.1, 131.2, 132.5, 4.7, 2.6, 0.429, 15.0, 53.6, 0.0, 0.1, 0.053, 3.6, 0.583, 0.583, 0.16, 0.163, 95.69, 95.55, 0.107], [1610612750, 203476, '16:04', 119.0, 114.7, 125.7, 120.0, -6.7, -5.3, 0.091, 0.5, 9.1, 0.071, 0.231, 0.148, 18.2, 0.571, 0.635, 0.286, 0.296, 98.83, 103.07, 0.098], [1610612750, 2037, '20:04', 110.7, 104.8, 134.6, 136.6, -24.0, -31.8, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 7.1, 0.615, 0.615, 0.326, 0.343, 97.31, 99.27, 0.084], [1610612750, 202357, '17:29', 106.3, 102.7, 124.7, 118.9, -18.5, -16.2, 0.154, 0.0, 28.6, 0.0, 0.4, 0.194, 0.0, 0.5, 0.5, 0.132, 0.136, 97.52, 101.58, 0.105], [1610612750, 1626145, '14:19', 114.2, 109.7, 129.3, 118.8, -15.0, -9.1, 0.385, 0.0, 71.4, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.063, 0.065, 99.17, 105.61, 0.056], [1610612750, 202332, None, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, None], [1610612750, 201166, None, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, None], [1610612750, 203498, None, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, None]]
[[1610612739, 2544, '48:19', 133.9, 134.4, 133.5, 134.0, 0.4, 0.4, 0.469, 3.0, 34.9, 0.029, 0.243, 0.139, 11.6, 0.841, 0.809, 0.272, 0.276, 96.25, 95.87, 0.177], [1610612739, 203109, '23:37', 142.1, 144.7, 143.6, 142.9, -1.4, 1.8, 0.087, 0.0, 25.0, 0.0, 0.143, 0.061, 0.0, 0.7, 0.74, 0.118, 0.118, 98.18, 97.57, 0.056], [1610612739, 202684, '28:56', 143.2, 148.2, 143.5, 142.6, -0.3, 5.6, 0.08, 0.0, 15.4, 0.1, 0.15, 0.125, 0.0, 0.778, 0.759, 0.183, 0.183, 98.37, 97.05, 0.106], [1610612739, 2747, '36:05', 130.4, 131.9, 134.5, 130.1, -4.1, 1.8, 0.033, 0.0, 6.7, 0.0, 0.12, 0.057, 0.0, 0.714, 0.714, 0.182, 0.185, 95.43, 96.44, 0.078], [1610612739, 202738, '31:17', 130.7, 132.3, 147.8, 144.3, -17.1, -12.0, 0.259, 2.33, 36.8, 0.0, 0.167, 0.073, 15.8, 0.688, 0.732, 0.182, 0.183, 93.79, 94.37, 0.091], [1610612739, 101112, '19:51', 106.6, 102.4, 111.6, 107.7, -5.0, -5.3, 0.0, 0.0, 0.0, 0.056, 0.294, 0.171, 18.2, 0.222, 0.222, 0.244, 0.253, 93.15, 96.73, 0.007], [1610612739, 201145, '29:16', 125.3, 121.7, 112.3, 109.8, 12.9, 11.8, 0.087, 1.0, 15.4, 0.042, 0.192, 0.12, 15.4, 0.667, 0.752, 0.164, 0.171, 96.69, 99.22, 0.091], [1610612739, 1626224, '21:27', 128.7, 123.9, 106.9, 104.2, 21.8, 19.7, 0.0, 0.0, 0.0, 0.059, 0.136, 0.103, 25.0, 0.8, 0.765, 0.157, 0.166, 101.86, 105.17, 0.051], [1610612739, 201565, '7:26', 138.2, 127.8, 126.9, 117.6, 11.3, 10.1, 0.375, 0.0, 42.9, 0.0, 0.0, 0.0, 0.0, 0.333, 0.387, 0.2, 0.215, 104.61, 113.0, 0.075], [1610612739, 2594, '18:46', 122.2, 117.1, 118.4, 110.8, 3.8, 6.3, 0.091, 1.0, 11.1, 0.071, 0.063, 0.067, 11.1, 1.0, 1.0, 0.182, 0.189, 94.53, 99.74, 0.128], [1610612739, 101181, None, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, None], [1610612739, 204066, None, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, None], [1610612739, 1627790, None, None, 0.0, None, 0.0, None, 0.0, None, None, None, 0.0, 0.0, 0.0, None, None, None, 0.0, 0.0, None, None, None]]
Request to https://stats.nba.com/stats/boxscorefourfactorsv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, 0.145, 0.694, 0.179, 0.151, 0.167], [1610612750, 201959, 0.131, 0.742, 0.183, 0.139, 0.13], [1610612750, 1626157, 0.125, 0.73, 0.213, 0.136, 0.12], [1610612750, 202710, 0.12, 0.74, 0.253, 0.15, 0.133], [1610612750, 201952, 0.119, 0.723, 0.2, 0.142, 0.148], [1610612750, 203476, 0.138, 0.667, 0.37, 0.18, 0.308], [1610612750, 2037, 0.114, 0.676, 0.441, 0.144, 0.313], [1610612750, 202357, 0.129, 0.643, 0.429, 0.17, 0.267], [1610612750, 1626145, 0.154, 0.674, 0.435, 0.17, 0.273], [1610612750, 202332, None, None, None, None, None], [1610612750, 201166, None, None, None, None, None], [1610612750, 203498, None, None, None, None, None]]
[[1610612739, 2544, 0.241, 0.695, 0.115, 0.103, 0.114], [1610612739, 203109, 0.268, 0.786, 0.095, 0.144, 0.154], [1610612739, 202684, 0.184, 0.75, 0.111, 0.115, 0.167], [1610612739, 2747, 0.18, 0.718, 0.097, 0.127, 0.13], [1610612739, 202738, 0.255, 0.794, 0.157, 0.118, 0.125], [1610612739, 101112, 0.323, 0.578, 0.188, 0.106, 0.063], [1610612739, 201145, 0.245, 0.585, 0.113, 0.101, 0.077], [1610612739, 1626224, 0.333, 0.548, 0.095, 0.107, 0.091], [1610612739, 201565, 0.429, 0.667, 0.333, 0.127, 0.0], [1610612739, 2594, 0.414, 0.6, 0.2, 0.087, 0.063], [1610612739, 101181, None, None, None, None, None], [1610612739, 204066, None, None, None, None, None], [1610612739, 1627790, None, None, None, None, None]]
Request to https://stats.nba.com/stats/boxscoremiscv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, 0, 0, 1, 4, 12, 8, 9, 36, 0, 0, 3, 2], [1610612750, 201959, 2, 2, 0, 6, 9, 7, 12, 32, 2, 0, 1, 2], [1610612750, 1626157, 6, 2, 0, 6, 8, 7, 12, 34, 2, 0, 2, 6], [1610612750, 202710, 9, 0, 2, 18, 14, 10, 16, 44, 0, 1, 2, 6], [1610612750, 201952, 3, 0, 2, 4, 11, 7, 12, 34, 0, 0, 4, 2], [1610612750, 203476, 0, 0, 0, 4, 9, 7, 4, 16, 0, 0, 3, 1], [1610612750, 2037, 2, 0, 3, 0, 8, 10, 7, 20, 0, 0, 1, 2], [1610612750, 202357, 3, 0, 0, 2, 8, 7, 4, 18, 0, 0, 2, 0], [1610612750, 1626145, 0, 0, 0, 0, 6, 7, 4, 16, 0, 0, 1, 0], [1610612750, 202332, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 201166, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 203498, None, None, None, None, None, None, None, None, None, None, None, None]]
[[1610612739, 2544, 4, 2, 0, 18, 25, 4, 8, 44, 1, 0, 3, 3], [1610612739, 203109, 2, 0, 2, 0, 10, 4, 4, 26, 0, 0, 4, 3], [1610612739, 202684, 2, 3, 2, 14, 16, 4, 4, 34, 0, 0, 1, 3], [1610612739, 2747, 3, 0, 6, 0, 20, 4, 4, 38, 0, 0, 2, 0], [1610612739, 202738, 0, 0, 0, 2, 15, 4, 5, 30, 0, 2, 1, 1], [1610612739, 101112, 0, 2, 0, 2, 12, 0, 1, 6, 0, 0, 1, 2], [1610612739, 201145, 0, 2, 1, 8, 12, 0, 4, 18, 0, 2, 3, 5], [1610612739, 1626224, 6, 3, 2, 2, 10, 0, 3, 14, 0, 0, 3, 1], [1610612739, 201565, 0, 0, 0, 2, 0, 0, 3, 4, 0, 0, 0, 1], [1610612739, 2594, 0, 2, 3, 2, 5, 0, 4, 6, 0, 0, 3, 0], [1610612739, 101181, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 204066, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 1627790, None, None, None, None, None, None, None, None, None, None, None, None]]
Request to https://stats.nba.com/stats/boxscorescoringv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, 0.385, 0.615, 0.316, 0.105, 0.632, 0.053, 0.053, 0.0, 0.211, 0.667, 0.333, 1.0, 0.0, 0.857, 0.143], [1610612750, 201959, 1.0, 0.0, 0.889, 0.222, 0.0, 0.0, 0.111, 0.222, 0.667, 0.5, 0.5, 0.0, 0.0, 0.5, 0.5], [1610612750, 1626157, 0.5, 0.5, 0.267, 0.067, 0.6, 0.0, 0.133, 0.2, 0.2, 0.75, 0.25, 1.0, 0.0, 0.9, 0.1], [1610612750, 202710, 0.762, 0.238, 0.571, 0.057, 0.343, 0.057, 0.086, 0.257, 0.514, 0.4, 0.6, 0.25, 0.75, 0.357, 0.643], [1610612750, 201952, 0.667, 0.333, 0.571, 0.286, 0.429, 0.143, 0.0, 0.214, 0.286, 0.25, 0.75, 0.5, 0.5, 0.333, 0.667], [1610612750, 203476, 1.0, 0.0, 0.8, 0.4, 0.0, 0.0, 0.2, 0.0, 0.4, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0], [1610612750, 2037, 0.615, 0.385, 0.625, 0.625, 0.375, 0.188, 0.0, 0.125, 0.0, 0.2, 0.8, 1.0, 0.0, 0.429, 0.571], [1610612750, 202357, 0.2, 0.8, 0.4, 0.0, 0.6, 0.0, 0.0, 0.6, 0.4, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0], [1610612750, 1626145, 0.5, 0.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1610612750, 202332, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 201166, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 203498, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]
[[1610612739, 2544, 0.682, 0.318, 0.595, 0.108, 0.405, 0.0, 0.0, 0.108, 0.486, 0.273, 0.727, 0.2, 0.8, 0.25, 0.75], [1610612739, 203109, 0.6, 0.4, 0.4, 0.4, 0.3, 0.2, 0.3, 0.2, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0], [1610612739, 202684, 1.0, 0.0, 0.824, 0.0, 0.0, 0.118, 0.176, 0.118, 0.824, 0.714, 0.286, 0.0, 0.0, 0.714, 0.286], [1610612739, 2747, 0.214, 0.786, 0.1, 0.1, 0.9, 0.3, 0.0, 0.15, 0.0, 0.0, 1.0, 1.0, 0.0, 0.857, 0.143], [1610612739, 202738, 0.375, 0.625, 0.154, 0.0, 0.692, 0.0, 0.154, 0.0, 0.154, 1.0, 0.0, 0.333, 0.667, 0.5, 0.5], [1610612739, 101112, 0.333, 0.667, 1.0, 0.5, 0.0, 0.0, 0.0, 0.0, 0.5, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0], [1610612739, 201145, 1.0, 0.0, 0.615, 0.0, 0.0, 0.077, 0.385, 0.0, 0.615, 0.75, 0.25, 0.0, 0.0, 0.75, 0.25], [1610612739, 1626224, 0.2, 0.8, 0.222, 0.0, 0.667, 0.222, 0.111, 0.667, 0.222, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0], [1610612739, 201565, 1.0, 0.0, 0.667, 0.0, 0.0, 0.0, 0.333, 0.0, 0.667, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0], [1610612739, 2594, 0.143, 0.857, 0.143, 0.0, 0.857, 0.214, 0.0, 0.0, 0.143, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0], [1610612739, 101181, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 204066, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 1627790, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]

Request to https://stats.nba.com/stats/boxscoretraditionalv2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, 7, 13, 0.538, 4, 8, 0.5, 1, 2, 0.5, 0, 2, 2, 1, 0, 2, 3, 19, 7.0], [1610612750, 201959, 4, 8, 0.5, 0, 0, 0.0, 1, 1, 1.0, 2, 3, 5, 2, 0, 0, 1, 9, 4.0], [1610612750, 1626157, 10, 12, 0.833, 6, 6, 1.0, 4, 4, 1.0, 1, 9, 10, 1, 1, 3, 2, 30, 1.0], [1610612750, 202710, 14, 21, 0.667, 4, 5, 0.8, 3, 3, 1.0, 0, 5, 5, 6, 2, 2, 2, 35, 1.0], [1610612750, 201952, 6, 12, 0.5, 2, 4, 0.5, 0, 0, 0.0, 0, 3, 3, 15, 1, 1, 4, 14, 2.0], [1610612750, 203476, 4, 7, 0.571, 0, 0, 0.0, 2, 2, 1.0, 1, 3, 4, 1, 1, 2, 3, 10, -3.0], [1610612750, 2037, 7, 13, 0.538, 2, 5, 0.4, 0, 0, 0.0, 0, 0, 0, 0, 0, 1, 1, 16, -12.0], [1610612750, 202357, 2, 5, 0.4, 1, 4, 0.25, 0, 0, 0.0, 0, 6, 6, 2, 0, 0, 2, 5, -6.0], [1610612750, 1626145, 0, 2, 0.0, 0, 1, 0.0, 0, 0, 0.0, 0, 0, 0, 5, 2, 0, 1, 0, -4.0], [1610612750, 202332, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 201166, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 203498, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]
[[1610612739, 2544, 16, 22, 0.727, 5, 7, 0.714, 0, 2, 0.0, 1, 9, 10, 15, 1, 5, 3, 37, -1.0], [1610612739, 203109, 3, 5, 0.6, 1, 2, 0.5, 3, 4, 0.75, 0, 2, 2, 2, 1, 0, 4, 10, -2.0], [1610612739, 202684, 7, 9, 0.778, 0, 0, 0.0, 3, 5, 0.6, 2, 3, 5, 2, 1, 0, 1, 17, -4.0], [1610612739, 2747, 7, 14, 0.5, 6, 11, 0.545, 0, 0, 0.0, 0, 3, 3, 1, 0, 0, 2, 20, 0.0], [1610612739, 202738, 4, 8, 0.5, 3, 5, 0.6, 2, 2, 1.0, 0, 3, 3, 7, 0, 3, 1, 13, -6.0], [1610612739, 101112, 2, 9, 0.222, 0, 6, 0.0, 0, 0, 0.0, 1, 5, 6, 0, 1, 2, 1, 4, 0.0], [1610612739, 201145, 4, 6, 0.667, 0, 0, 0.0, 5, 6, 0.833, 1, 5, 6, 2, 0, 2, 3, 13, 6.0], [1610612739, 1626224, 3, 5, 0.6, 2, 4, 0.5, 1, 2, 0.5, 1, 3, 4, 0, 1, 2, 3, 9, 7.0], [1610612739, 201565, 1, 3, 0.333, 0, 0, 0.0, 1, 2, 0.5, 0, 0, 0, 3, 0, 0, 0, 3, 3.0], [1610612739, 2594, 5, 7, 0.714, 4, 6, 0.667, 0, 0, 0.0, 1, 1, 2, 1, 0, 1, 3, 14, 7.0], [1610612739, 101181, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 204066, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 1627790, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]
Request to https://stats.nba.com/stats/boxscoreusagev2?GameID=0021700807&EndPeriod=0&EndRange=0&RangeType=0&StartPeriod=0&StartRange=0& was successful.
[[1610612750, 203952, 0.167, 0.188, 0.286, 0.381, 0.111, 0.2, 0.0, 0.08, 0.071, 0.043, 0.222, 0.0, 0.0, 0.0, 0.273, 0.111, 0.178], [1610612750, 201959, 0.103, 0.131, 0.0, 0.0, 0.143, 0.125, 0.667, 0.15, 0.217, 0.087, 0.0, 0.0, 0.5, 0.0, 0.111, 0.125, 0.09], [1610612750, 1626157, 0.256, 0.188, 0.429, 0.273, 0.571, 0.5, 0.333, 0.409, 0.4, 0.042, 0.333, 0.5, 0.5, 0.0, 0.2, 0.375, 0.303], [1610612750, 202710, 0.286, 0.253, 0.222, 0.161, 0.333, 0.3, 0.0, 0.192, 0.167, 0.194, 0.182, 0.333, 0.0, 1.0, 0.125, 0.375, 0.28], [1610612750, 201952, 0.146, 0.179, 0.133, 0.182, 0.0, 0.0, 0.0, 0.13, 0.115, 0.625, 0.111, 0.333, 0.0, 0.0, 0.364, 0.111, 0.135], [1610612750, 203476, 0.267, 0.241, 0.0, 0.0, 0.5, 0.5, 1.0, 0.333, 0.4, 0.111, 0.667, 0.2, 0.0, 0.0, 0.333, 0.2, 0.256], [1610612750, 2037, 0.412, 0.371, 0.333, 0.357, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.0, 0.0, 0.0, 0.091, 0.25, 0.364], [1610612750, 202357, 0.133, 0.161, 0.25, 0.333, 0.0, 0.0, 0.0, 0.545, 0.5, 0.2, 0.0, 0.0, 0.0, 0.0, 0.2, 0.0, 0.132], [1610612750, 1626145, 0.0, 0.077, 0.0, 0.091, 0.0, 0.0, 0.0, 0.0, 0.0, 0.556, 0.0, 0.5, 0.0, 0.0, 0.125, 0.0, 0.0], [1610612750, 202332, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 201166, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612750, 203498, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]
[[1610612739, 2544, 0.333, 0.278, 0.25, 0.184, 0.0, 0.105, 0.2, 0.29, 0.278, 0.484, 0.357, 0.25, 1.0, 0.0, 0.176, 0.188, 0.287], [1610612739, 203109, 0.115, 0.122, 0.1, 0.125, 0.5, 0.364, 0.0, 0.182, 0.143, 0.125, 0.0, 0.333, 0.0, 0.0, 0.5, 0.375, 0.147], [1610612739, 202684, 0.219, 0.184, 0.0, 0.0, 0.6, 0.556, 1.0, 0.2, 0.294, 0.111, 0.0, 0.25, 0.0, 0.0, 0.091, 0.5, 0.205], [1610612739, 2747, 0.189, 0.23, 0.429, 0.407, 0.0, 0.0, 0.0, 0.15, 0.13, 0.048, 0.0, 0.0, 0.0, 0.0, 0.143, 0.0, 0.211], [1610612739, 202738, 0.129, 0.157, 0.25, 0.208, 0.25, 0.154, 0.0, 0.214, 0.176, 0.35, 0.333, 0.0, 0.0, 1.0, 0.067, 0.091, 0.159], [1610612739, 101112, 0.143, 0.29, 0.0, 0.316, 0.0, 0.0, 0.25, 0.333, 0.316, 0.0, 0.25, 1.0, 0.0, 0.0, 0.111, 0.2, 0.095], [1610612739, 201145, 0.148, 0.122, 0.0, 0.0, 0.625, 0.5, 0.167, 0.208, 0.2, 0.111, 0.2, 0.0, 0.0, 1.0, 0.25, 0.5, 0.178], [1610612739, 1626224, 0.15, 0.139, 0.222, 0.235, 0.125, 0.167, 0.25, 0.15, 0.167, 0.0, 0.286, 0.5, 0.0, 0.0, 0.5, 0.111, 0.158], [1610612739, 201565, 0.111, 0.214, 0.0, 0.0, 0.333, 0.333, 0.0, 0.0, 0.0, 0.6, 0.0, 0.0, 0.0, 0.0, 0.0, 0.25, 0.13], [1610612739, 2594, 0.313, 0.241, 0.571, 0.375, 0.0, 0.0, 0.333, 0.067, 0.111, 0.077, 0.125, 0.0, 0.0, 0.0, 0.333, 0.0, 0.292], [1610612739, 101181, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 204066, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None], [1610612739, 1627790, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]]

In [114]:
away_final

,TEAM_ID,PLAYER_ID,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,...,PCT_DREB,PCT_REB,PCT_AST,PCT_TOV,PCT_STL,PCT_BLK,PCT_BLKA,PCT_PF,PCT_PFD,PCT_PTS
0,1610612750,2037,20:04,110.7,104.8,134.6,136.6,-24.0,-31.8,0.000,...,0.000,0.000,0.000,0.250,0.000,0.0,0.0,0.091,0.250,0.364
1,1610612750,201166,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1610612750,201952,38:41,135.9,135.1,131.2,132.5,4.7,2.6,0.429,...,0.130,0.115,0.625,0.111,0.333,0.0,0.0,0.364,0.111,0.135
3,1610612750,201959,35:08,143.8,142.9,133.6,137.1,10.2,5.7,0.057,...,0.150,0.217,0.087,0.000,0.000,0.5,0.0,0.111,0.125,0.090
4,1610612750,202332,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1610612750,202357,17:29,106.3,102.7,124.7,118.9,-18.5,-16.2,0.154,...,0.545,0.500,0.200,0.000,0.000,0.0,0.0,0.200,0.000,0.132
6,1610612750,202710,46:28,132.4,133.0,132.8,133.3,-0.4,-0.4,0.171,...,0.192,0.167,0.194,0.182,0.333,0.0,1.0,0.125,0.375,0.280
7,1610612750,203476,16:04,119.0,114.7,125.7,120.0,-6.7,-5.3,0.091,...,0.333,0.400,0.111,0.667,0.200,0.0,0.0,0.333,0.200,0.256
8,1610612750,203498,None,NaN,0.0,NaN,0.0,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1610612750,203952,39:51,134.8,133.8,126.1,123.5,8.6,10.3,0.029,...,0.080,0.071,0.043,0.222,0.000,0.0,0.0,0.273,0.111,0.178
10,1610612750,1626145,14:19,114.2,109.7,129.3,118.8,-15.0,-9.1,0.385,...,0.000,0.000,0.556,0.000,0.500,0.0,0.0,0.125,0.000,0.000
11,1610612750,1626157,36:56,134.7,135.6,132.9,134.2,1.7,1.4,0.034,...,0.409,0.400,0.042,0.333,0.500,0.5,0.0,0.200,0.375,0.303

In [117]:
from collections import Counter

In [118]:
Counter(away_final.columns)

Counter({'TEAM_ID': 1,
         'PLAYER_ID': 1,
         'MIN': 1,
         'E_OFF_RATING': 1,
         'OFF_RATING': 1,
         'E_DEF_RATING': 1,
         'DEF_RATING': 1,
         'E_NET_RATING': 1,
         'NET_RATING': 1,
         'AST_PCT': 1,
         'AST_TOV': 1,
         'AST_RATIO': 1,
         'OREB_PCT': 1,
         'DREB_PCT': 1,
         'REB_PCT': 1,
         'TM_TOV_PCT': 1,
         'EFG_PCT': 1,
         'TS_PCT': 1,
         'USG_PCT': 1,
         'E_USG_PCT': 1,
         'E_PACE': 1,
         'PACE': 1,
         'PIE': 1,
         'FTA_RATE': 1,
         'OPP_EFG_PCT': 1,
         'OPP_FTA_RATE': 1,
         'OPP_TOV_PCT': 1,
         'OPP_OREB_PCT': 1,
         'PTS_OFF_TOV': 1,
         'PTS_2ND_CHANCE': 1,
         'PTS_FB': 1,
         'PTS_PAINT': 1,
         'OPP_PTS_OFF_TOV': 1,
         'OPP_PTS_2ND_CHANCE': 1,
         'OPP_PTS_FB': 1,
         'OPP_PTS_PAINT': 1,
         'BLK': 1,
         'BLKA': 1,
         'PF': 2,
         'PFD': 1,
         'PCT_FGA_2PT': 1,
         'PCT_FGA_3PT': 1,
         'PCT_PTS_2PT': 1,
         'PCT_PTS_2PT_MR': 1,
         'PCT_PTS_3PT': 1,
         'PCT_PTS_FB': 1,
         'PCT_PTS_FT': 1,
         'PCT_PTS_OFF_TOV': 1,
         'PCT_PTS_PAINT': 1,
         'PCT_AST_2PM': 1,
         'PCT_UAST_2PM': 1,
         'PCT_AST_3PM': 1,
         'PCT_UAST_3PM': 1,
         'PCT_AST_FGM': 1,
         'PCT_UAST_FGM': 1,
         'FGM': 1,
         'FGA': 1,
         'FG_PCT': 1,
         'FG3M': 1,
         'FG3A': 1,
         'FG3_PCT': 1,
         'FTM': 1,
         'FTA': 1,
         'FT_PCT': 1,
         'OREB': 1,
         'DREB': 1,
         'REB': 1,
         'AST': 1,
         'STL': 1,
         'TO': 1,
         'PTS': 1,
         'PLUS_MINUS': 1,
         'PCT_FGM': 1,
         'PCT_FGA': 1,
         'PCT_FG3M': 1,
         'PCT_FG3A': 1,
         'PCT_FTM': 1,
         'PCT_FTA': 1,
         'PCT_OREB': 1,
         'PCT_DREB': 1,
         'PCT_REB': 1,
         'PCT_AST': 1,
         'PCT_TOV': 1,
         'PCT_STL': 1,
         'PCT_BLK': 1,
         'PCT_BLKA': 1,
         'PCT_PF': 1,
         'PCT_PFD': 1,
         'PCT_PTS': 1})